@font-face {
  font-family: Nineteen Ninety Seven;
  src: url('../font/NineteenNinetySeven-11XB.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Nineteen Ninety Seven;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #000000;
}

.header {
  padding: 8px;
  background: #DCDCDC;
  border-bottom: black solid 3px;
}

.secret-left {
  width: 60%;
  float: left;
  background: #FEDC58;
}

#project-title {
  font-family: Nineteen Ninety Seven, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  padding-left: 25px;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#project-desc {
  font-family: 'B612', sans-serif;
  font-size: 18px;
  text-align: right;
  float: right;
  padding: 0px 50px 10px 0px;
  line-height: 200%;
}

.secret-right {
  width: 40%;
  float: right;
}

.category {
  margin: 30px 0px 30px 30px;
  padding: 20px;
  background: #DBD9FE;
  font-family: Nineteen Ninety Seven, sans-serif;
  font-size: 24px;
}

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 48px;
  }

  .header {
    border-bottom: black solid 10px;
  }

  .secret-left, .secret-right {
    width: 100%;
  }

  #project-title {
    font-size: 85px;
    margin: 20px;
    padding: 40px;
  }

  #project-desc {
    font-size: 18px;
    line-height: normal;
    margin: 20px;
    padding: 40px;
  }


}
